@media (max-width: 1030px) {
  .home-wrapper {
    height: 50rem;
  }
  .home-section .text-content {
    text-align: center;
  }
  .section-heading h3:before {
    margin-top: 100%;
  }
}

@media (max-width: 991px) {
  .home-section {
    height: 50%;
  }
  .testimonial-section .carousel-item .carousel-caption p {
    padding: 0;
  }
  .home-section .text-content {
    text-align: center;
  }
  .section-heading h3:before {
    margin-top: 100%;
  }
}
@media (max-width: 767px) {
  .home-section {
    height: 50%;
  }
  .section-heading h3:before {
    margin-top: 100%;
  }
  .testimonial-section .carousel-item {
    padding: 15rem 3.125rem;
  }
  .home-section .text-content {
    text-align: center;
  }
}
@media (max-width: 330px) {
  .home-wrapper {
    height: 30rem;
  }
  .section-heading h3:before {
    top: 99%;
  }
}
