@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg--white: #fff;
  --bg-primary: #21218f;
  --text-black: #000000;
  --text-secondary: #fc5184;
  --bg-gar: #686666;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.375rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}
.header-section .navbar-toggler {
  box-shadow: none;
  border: 0;
  line-height: 3;
}
#header-wrapper .nav-item .nav-link {
  display: inline;
  color: var(--bg-gar);
  font-size: 1rem;
  font-weight: 800;
  line-height: 3;
}
#header-wrapper .nav-item .nav-link:hover {
  color: var(--text-secondary);
  border-bottom: 1px solid var(--bg-primary);
}
.home-section {
  width: 100%;
  max-height: 50%;
  background: url("../image/bg2.png") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-section .text-content {
  color: var(--bg--white);
  padding-top: 200px;
}
.section-heading h3:before {
  content: "";

  width: 4rem;
  height: 0.175rem;
  background: var(--text-secondary);
  left: 48%;
  top: 70%;
  position: absolute;
  align-items: center;
}
.card-body .icon:hover {
  color: yellow;
}
.btn1 span {
  padding: 2rem;
  border-radius: 3px;
}
.btn1 {
  padding: 1rem;
  border-radius: 1rem;
}
.form1 {
  padding-top: 200px;
}
.btn1 {
  margin-top: 2rem;
  font-size: 1rem;
}
.desktop-section {
  text-align: center;
  padding-top: 6rem;
}
.laptop-section {
  text-align: center;
  padding-top: 6rem;
}
.desktop-section .card {
  margin-top: 5rem;
}
.testimonial-section {
  background-color: rgb(250, 14, 14);
  height: 500px;
}
.testimonial-section .carousel-item {
  margin-top: 3rem;
  padding: 10rem 3.125rem;
  background-color: white;
  border-radius: 0.75rem;

  text-align: center;
}
.testimonial-section .carousel-item .carousel-caption img {
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.315rem;
}
.testimonial-section .carousel-item .carousel-caption p {
  font-size: 1.3125rem;
  padding: 0 11% 0.625rem;
  line-height: 2.0635rem;
}
.testimonial-section .carousel-indicators {
  bottom: -2.8125rem;
}
.testimonial-section .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: 0.2;
  color: white;
}
.testimonial-section .carousel-indicators button :active {
  opacity: 1rem;
  color: white;
}
.footer {
  background-color: rgb(71, 4, 4);
}
.footer .footer-link {
  font-size: 1rem;
  color: white;
  padding: 0 1.785rem;
}
.footer .footer-link a:hover {
  color: white !important;
}
.footer a i {
  font-size: 1.5rem;
  color: white;
  padding: 0 1rem;
}
.wrapper .log img {
  max-width: 50%;
}
.wrapper input {
  background-color: var(--light-white);
  border-color: var(--gray);
}
.wrapper input:focus {
  box-shadow: none;
}
.wrapper span {
  background-color: var(--light-white);
  border-color: var(--gray);
}
.wrapper .submit-btn {
  padding: 15px;
  font-weight: 500;
}
.wrapper .logn-with {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
}
.wrapper .logn-with,
.wrapper .submit-btn :focus {
  box-shadow: none;
}
.wrapper .logn-with img {
  max-width: 8%;
}
.wrapper .logn-with:hover {
  background-color: var(--gray);
  color: var(--light-white);
}
