@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg--white: #fff;
  --bg-primary: #21218f;
  --text-black: #000000;
  --text-secondary: #fc5184;
  --bg-gar: #686666;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.375rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}
.header-section .navbar-toggler {
  box-shadow: none;
  border: 0;
  line-height: 3;
}
#header-wrapper .nav-item .nav-link {
  display: inline;
  color: var(--bg-gar);
  font-size: 1rem;
  font-weight: 800;
  line-height: 3;
}
#header-wrapper .nav-item .nav-link:hover {
  color: var(--text-secondary);
  border-bottom: 1px solid var(--bg-primary);
}
.home-section {
  width: 100%;
  max-height: 50%;
  background: url("../image/bg2.png") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-section .text-content {
  color: var(--bg--white);
  padding-top: 200px;
}
.section-heading h3:before {
  content: "";

  width: 4rem;
  height: 0.175rem;
  background: var(--text-secondary);
  left: 48%;
  top: 70%;
  position: absolute;
  align-items: center;
}
.card-body .icon:hover {
  color: yellow;
}
.btn1 span {
  padding: 2rem;
  border-radius: 3px;
}
.btn1 {
  padding: 1rem;
  border-radius: 1rem;
}
.form1 {
  padding-top: 200px;
}
.btn1 {
  margin-top: 2rem;
  font-size: 1rem;
}
.desktop-section {
  text-align: center;
  padding-top: 6rem;
}
.laptop-section {
  text-align: center;
  padding-top: 6rem;
}
.desktop-section .card {
  margin-top: 5rem;
}
